<!doctype html>
<html>
<head>
	<title>Untitled</title>
	<base href="<%= baseUrl %>/">
	<link rel="stylesheet" href="app.css">
	<script>
		var params = <%- JSON.stringify(params) %>;
	</script>
</head>
<body>
<h1>Untitled</h1>
<pre id="params"></pre>
<script src="bundle.js"></script>
</body>
</html>
